
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7362F802-DF93-7042-A74D-8F0862EB4F0E/main.js" charset="UTF-8"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
  </head>

  <body>

    <div class="container">
      <form class="form-signin">
        <!-- <h2 class="form-signin-heading">Please sign in</h2> -->
        <h3 >Please Sign In</h3>
        <input type="text" class="form-control" name = "userName" [(ngModel)] = "userName" placeholder="User Name" required autofocus>
        <input type="password" class="form-control" name = "password" [(ngModel)] = "password" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" (click) = "login()">Sign in</button>
      </form>
    </div> 

    <div *ngIf = "loginMessage" class="alert alert-danger" role="alert" style= "text-align: center">
       {{loginMessage}}
    </div>


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
