
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>

  <body>

    <div class="container">

      <form class="form-createCategory">

        <h3>Create New Category</h3>

        <input type="text" name="categoryName" [(ngModel)] = "categoryName" class="form-control" placeholder="Category Name" required autofocus >
        <div >
            <select class="form-control" id="expenseType" #Id="ngModel"  [(ngModel)]="expenseType" name="expenseType" >
              <option value="" disabled selected hidden>Select Expense Type</option>
              <option value = "Fixed">Fixed</option>
              <option value = "Variable">Variable</option>
            </select>
        </div>
        <input type="text" name="monthlyBudget" [(ngModel)] = "monthlyBudget" class="form-control" placeholder="Budget per month" required autofocus >
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click) = "createCategory()" >Save Category</button>

      </form>

    </div> <!-- /container -->
    
    <div *ngIf = "statusMessage">
      <!-- Success message-->
      <div *ngIf = "responseCode == 'SUCCESS'" class="alert alert-success" role="alert"  style = "text-align: center" >
        <span class="glyphicon glyphicon-ok" style="font-size : 24px"></span>&nbsp;{{statusMessage}}
      </div>
      <!-- Error message-->
      <div *ngIf = "responseCode == 'ERROR'" class="alert alert-danger" role="alert" style= "text-align: center">
          <span class="glyphicon glyphicon-remove" style="font-size : 24px"></span>&nbsp;{{statusMessage}}
       </div>
    </div>

  </body>
</html>
