
<nav class="navbar navbar-inverse" name = "loggedInUser" [(ngModel)] = "loggedInUser" ngDefaultControl>
    <div class="container-fluid">
        <ul class="nav navbar-nav" >
            <li class=""><a routerLink = "/home"> <span class="glyphicon glyphicon-home"></span> Home</a></li>
             <!--Setting Menu--> 
            <li class="dropdown" dropdown *ngIf ="loggedInUser && loggedInUser.accessType == 'admin'"> 
                <a dropdownToggle role="button"> <span class="glyphicon glyphicon-cog"> </span>Settings </a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a routerLink="/createUser">Create User</a></li>
                    <li><a routerLink="/maintainUser">Maintain User</a></li>
                    <li class="divider"></li>
                    <li><a routerLink="/createCategory">Create Category</a></li>
                    <li><a routerLink="/maintainCategory">Maintain Category</a></li>
                </ul>
            </li>
            <!--Data Entry Menu--> 
            <li class="dropdown" dropdown *ngIf ="loggedInUser"> 
                <a dropdownToggle role="button"> <span class="glyphicon glyphicon-th-large"> </span>  Data Entry </a>
                <ul *dropdownMenu class="dropdown-menu"> 
                    <li><a routerLink="/expense">Daily Expense</a></li>
                    <li><a routerLink="/maintainUser">Monthly Balance</a></li>
                    <li><a routerLink="/createCategory">New Fixed Deposit</a></li>
                    <li><a routerLink="/maintainCategory">India Investment </a></li>
                </ul>
            </li>
        </ul>

        <!--Sing In and Logout Menu--> 
        <ul *ngIf = "loggedInUser" class="nav navbar-nav navbar-right" >
                <li class="dropdown" dropdown > 
                    <a dropdownToggle role="button"> <span class="glyphicon glyphicon-user"> </span> Welcome : {{loggedInUser.displayName}} </a>
                    <ul *dropdownMenu class="dropdown-menu"> 
                        <li><a routerLink="/dashboard">Dashboard</a></li>
                        <li><a routerLink="/dashboard">Profile</a></li>
                        <li><a routerLink="/dashboard">Reset Password</a></li>
                    </ul>
                </li>
                <li><a routerLink="/login" (click) = "logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>

         <ul *ngIf = "!loggedInUser" class="nav navbar-nav navbar-right" >
                <li ><a routerLink="/login"><span class="glyphicon glyphicon-user"></span> Sign In</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>