
<!--<form>
<div class="row">
  <div class="col">
    <div class="panel panel-primary">
      <div class="panel-heading">Panel heading without title</div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div class="col">
    <input type="text" class="form-control" placeholder="Last name">
  </div>
</div>
</form>-->

<h3 style="text-align: center" >{{loggedInUser.displayName}}'s Dashboard</h3>

<table  style = "width: 80pc" id = "table1">
<tr>
  <td style = "width: 50pc; padding: 2pc">
    <div class="panel panel-primary">
      <div class="panel-heading">Current Month Expense Summary</div>
      <div class="panel-body">
        
      </div>
    </div>
  </td>
  <td style = "width: 50pc; padding: 2 pc" >
    <div class="panel panel-primary">
      <div class="panel-heading">Investment Summary </div>
      <div class="panel-body">
      
      </div>
    </div>
  </td>
</tr>

<tr>
  <td style = "width: 50pc; padding: 2pc">
    <div class="panel panel-primary">
      <div class="panel-heading">India Finance Details</div>
      <div class="panel-body">
      
      </div>
    </div>
  </td>
  <td style = "width: 50pc; padding: 2 pc" >
    <div class="panel panel-primary">
      <div class="panel-heading">Notification</div>
      <div class="panel-body">
        
      </div>
    </div>
  </td>
</tr>

</table>