
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3pc;
  background-color: rgba(33, 61, 114, 0.4);
  text-decoration-color: white;
  font-size: 1vw;
  padding-top: 1%;
  padding-bottom: 3%;
  text-align: center;
}
