
<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/7362F802-DF93-7042-A74D-8F0862EB4F0E/main.js" charset="UTF-8"></script>
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <div class="container" width = "60%">

      <form class="form-createUser" >

        <h3 >Create New User</h3>

        <input type="text" name="userName" [(ngModel)] = "userName" class="form-control" placeholder="User Name" required autofocus >
        <input type="password" name="inputPassword" [(ngModel)] = "password" class="form-control" placeholder="Password" required autofocus>
        <input type="password" name="reenterPassword" [(ngModel)] = "reenterPassword" class="form-control" placeholder="Reenter Password" autofocus>
        <input type="text" name="diplayName" [(ngModel)] = "displayName" class="form-control" placeholder="Display Name" required autofocus >
        <div >
            <select class="form-control" id="accessType" #Id="ngModel"  [(ngModel)]="accessType" name="accessType" >
              <option value="" disabled selected hidden>Select Access Type</option>
              <option value = "default">Default</option>
              <option value = "admin">Admin</option>
            </select>
        </div>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit" (click) = "createUser()" >Save User</button>

      </form>

    </div> <!-- /container -->
    
    <div *ngIf = "statusMessage">
        <!-- Success message-->
        <div *ngIf = "responseCode == 'SUCCESS'" class="alert alert-success" role="alert"  style = "text-align: center" >
          <span class="glyphicon glyphicon-ok" style="font-size : 24px"></span> {{statusMessage}}
        </div>
        <!-- Error message-->
        <div *ngIf = "responseCode == 'ERROR'" class="alert alert-danger" role="alert" style= "text-align: center">
            <span class="glyphicon glyphicon-remove" style="font-size : 24px"></span> {{statusMessage}}
         </div>
    </div>

  </body>
</html>
