body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  h3{
    font-family: Luminari, fantasy;
    color: rgb(17, 73, 104);
    font-size: 24px;
    text-align: center
  }
  .form-createUser {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-createUser .form-createUser-heading,
  .form-createUser .checkbox {
    margin-bottom: 10px;
  }
  .form-createUser .checkbox {
    font-weight: normal;
  }
  .form-createUser .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-createUser .form-control:focus {
    z-index: 2;
  }
  .form-createUser input[type="text"] {
    margin-bottom: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-createUser input[type="password"] {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .form-createUser select {
    margin-bottom: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }