.formLocation{
  position: relative;
  top : 1pc;
  margin: auto;
  border: 3px solid rgb(33, 61, 114);
  max-width: 70%;
  padding-top: 1pc;
  padding-bottom: 3pc;
}

.hfsh3{
  text-align: center;
  font-size: 1.5vw;
  color: rgb(33, 61, 114);
  font-weight: bold;
  font-family: Tahoma;
  padding-bottom: .5pc;
}

#hfsTable{
  border-collapse: collapse;
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid rgb(33, 61, 114);
}

#hfsTable th {
  padding-top: 6px;
  padding-bottom: 6px;
  text-align: center;
  background-color: rgb(33, 61, 114);
  color: white;
}

#hfsTable th , #hfsTable td  {
  border: 1px solid #ddd;
  text-align: center;
}

#hfsTable tr:nth-child(even){background-color: #f2f2f2;}

#fsTable tr:hover {background-color: #ddd;}

.glyphicon.glyphicon-pencil {
  font-size: 1em;
  color: rgb(33, 61, 114);
  padding-left: 10%;
  padding-right:1%;
}

.glyphicon.glyphicon-remove {
  font-size: 1em;
  color: red;
  padding-left: 10%;
  padding-right:1%;
}

