<div class = "formLocation">
        <div class="hfsh3">User Maintenace Screen</div>

        <table id = "hfsTable" >
                <tr>
                        <th width = 5% >#</th>
                        <th width = 20% >User Id</th>
                        <th width = 25% >Display Name</th>
                        <th width = 20%>Access Type</th>
                        <th width = 10%> Select</th>        
                        <th width = 20%>Action</th>
                </tr>
                <tr *ngFor="let user of usersMaintenance ; index as i" >
                        <td> {{i+1}} </td>
                        <td>{{user.userName}}</td>
                        <td *ngIf = "user.isEditable"> 
                                <input class="form-control" size = "1" type="text" name="displayName" [(ngModel)] = "user.displayName"   placeholder="{{user.displayName}}" >
                        </td>
                        <td *ngIf = "!user.isEditable"> 
                                {{user.displayName}}
                        </td>
                        
                        <td *ngIf = "user.isEditable">
                        <select class="form-control" id="accessType" #Id="ngModel"  [(ngModel)]="user.accessType" name="accessType" id = "ex1">
                                        <option value = "default">Default</option>
                                        <option value = "admin">Admin</option>
                                </select>
                        </td>
                        <td *ngIf = "!user.isEditable"> 
                                {{user.accessType}}
                        </td>
                        <td> <input type ="radio" name = "chooseUser" (click) = "onSelect(user)" > </td>
                        <td> 
                                <!-- <div >
                                        <button type="button" class="btn btn-primary" (click) = "deleteUser(selectedUser)" > Delete </button>&nbsp;
                                        <button type="button" class="btn btn-primary" (click) = "updateUser(selectedUser)" > Update </button>
                                </div> -->
                                <a routerLink="/" (click) = "updateUser(selectedUser)"><span class="glyphicon glyphicon-pencil"></span> Edit </a>
                                <a routerLink="/" (click) = "deleteUser(selectedUser)"><span class="glyphicon glyphicon-remove"></span> Delete </a>
                        </td>
                </tr>      
        </table>
</div>


        